html {
    background-color: #38bee0;
    background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  .box{
    border-radius: 5px;
    background-color: white;
    margin: 50px auto;
    max-width: 400px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  }
  
  #heading {
    background-color: #21759a;
    text-align: center;
  }
  .item{
    border-bottom: 1px solid #F1F1F1;
    align-items: center;
    display: flex;
    min-height: 20px;
  }
  .item:last-child{
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #21759a;
  }
  
  input[type="checkbox"] {
    margin: 10px;
  }
  
  p{
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    color: #00204a
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  button{
    border-radius: 50%;
    min-width: 50px;
    width: 50px;
    border-color: transparent;
    background-color: #21759a;
    color: white;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color:#21759a;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #21759a;
  }
  
  ::placeholder {
    color: grey;
    opacity: 0.5;
  }
  
  footer {
    color: white;
    text-align: center;
  }